
.card-title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  gap: 0.8em;
}
.card-name {
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

.card-message {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}
.card-action{
  margin-top: 1em;
  ul{
    list-style: none;
    li{
      font-size: 1.5em;
      margin-right: 1em;
    }
    button{
      background: transparent;
      border: none;

    }
  }
}
